<li class="list-item">
	     				<a class="{{#if homepage}}lime-link-active{{/if}}" href="{{#if homepage}}#lime-main-wrap{{else}}index.html{{/if}}"><span data-hover="HOME">Home</span></a>
	     			</li>
	     			<li class="list-item">
	     				<a href="{{#if homepage}}#about{{else}}index.html#about{{/if}}"><span data-hover="ABOUT US">About Us</span></a>
	     			</li>
	     			<li class="list-item">
	     				<a class="{{#if academy}}lime-link-active {{else if bootcamp}}lime-link-active{{else}}{{/if}}" href="academy.html"><span data-hover="ACADEMY">Academy</span></a>
	     			</li>
	     			<li class="list-item">
	     				<a href="{{#if homepage}}#contact{{else}}index.html#contact{{/if}}"><span data-hover="CONTACT US">Contact Us</span></a>
	     			</li>
	     			<li class="list-item">
	     				<a href="{{#if homepage}}#career{{else}}index.html#career{{/if}}"><span data-hover="CAREER">Career</span></a>
	     			</li>